---
import Layout from "../../../layouts/Layout.astro";

const { autor, libro } = Astro.params;
---

<Layout title="Autor">
        <h1>El escritor es : {autor}</h1>
        <h2>Su libro {libro} es una obra maestra</h2>
</Layout>
