---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
        return [{ params: { id: "123" } }, { params: { id: "abc" } }];
}

const { id } = Astro.params;
---

<Layout title="blog">
        <h1>El id del registro es : {id}</h1>
</Layout>
