---
import Nav from "../components/Header.astro";
import Title from "@components/Title.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta name="description" content="Astro description" />
                <meta name="viewport" content="width=device-width" />
                <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
                <meta name="generator" content={Astro.generator} />
                <title>BLOG</title>
        </head>
        <body>
                <Nav />
                <div class="container">
                        <Title
                                title={frontmatter.title}
                                subtitle={`Post by: ${frontmatter.author}`}
                                description={frontmatter.description}
                        />
                        <slot />
                </div>
        </body>
        <style is:global>
                .container {
                        margin: 0 auto;
                        padding: 0 300px;
                }
        </style>
</html>
