---
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<html>
        <head>
                <title>{frontmatter.title}</title>
                <meta name="description" content="{{ description }}" />
        </head>

        <body>
                <h1>{frontmatter.title}</h1>
                <p>{frontmatter.fecha}</p>

                <div class="container">
                        <slot />
                </div>
        </body>
</html>

<style>
        .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 0 20px;
        }
</style>
